<article class="container template animated slideInRight">
  
    <div class="well">
    <h4>{{editNote.name | uppercase}} note</h4>

    <div class="input">
      <input type="text" id="nametext" placeholder="Note name" class="form-control" [(ngModel)]="editNote.name" />
    </div>

    <div class="input text">
    <textarea id="sidetext"class="form-control" placeholder="text" rows="5" [(ngModel)]="editNote.text"></textarea>
    </div>

    <div>
      <button class="btn btn-primary btn-lg active" (click)="save()">Save</button>
      &nbsp;
      <button class="btn btn-warning btn-lg active" (click)="cancel()" [class.not-displayed]="isAddMode(editNote.id)">Cancel</button>
      &nbsp;
      <button class="btn btn-danger btn-lg active " (click)="delete()" [class.not-displayed]="isAddMode(editNote.id)">Delete</button>
    </div>
    </div>
  
</article>