<article class="container-fluid">
  <h2>Notes</h2>
<a href='' class="btn btn-primary btn-lg active lrg" role="button" [routerLink]="['/note', 'new']">Add</a>
  <!--<filter-text (changed)="filterChanged($event)"></filter-text>-->


  <ul class="notes">
    <li class="note" *ngFor="let note of filteredNotes">
      <div class="box">
        <div class="in">
          <h4 >{{note.name}}</h4>
        </div>
          <div class="in">
            <a href="" class="card-link"[routerLink]="['/note', note.id]">
              <div class="glyphicon glyphicon-pencil"></div>
            </a>
          </div>
      </div>
      
    </li>
  </ul>
</article>