<article>
  <h4>Notes</h4>

  <!--<button href='' [routerLink]="['/', 'new']">Add</button>-->
<a href='' [routerLink]="['/note', 'new']">
                            click me
                            </a>
  <!--<filter-text (changed)="filterChanged($event)"></filter-text>-->

  <!--<ul >
    <li *ngFor="#note of filteredCharacters">

      <div >
        <div >
          <h2 >{{note.id}}.
{{note.name}}</h2>
        </div>
        <div >
          <button  [routerLink]="['Note', {id: note.id}]">

            <div ></div>

          </button>
        </div>
      </div>

    </li>
  </ul>-->
</article>