<article class="container-fluid template animated slideInRight">
  <section>
  <a href='' class="btn btn-primary btn-lg active lrg" role="button" [routerLink]="['/note', 'new']">ADD NOTES</a>
  </section>

  <ul class="notes">
    <li class="note" *ngFor="let note of filteredNotes">
      <a href="" class="card-link"[routerLink]="['/note', note.id]">
      <div class="box">
        <div class="in">
          <h4>{{note.name}}</h4>
        </div>
      </div>
      </a>
    </li>
  </ul>
</article>