.navbar-header{
    color: darkred;
    padding: .5em;
    position: relative;
    top: -1em;
    left:3px;
}

.navbar h3{
    color: white;
}
.nav-tabs a{
    color: white;
}

.navbar-nav a:hover{
    color: white;
}

.animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
}