<div class='navbar navbar-inverse navbar-static-top'>
  <header>
      <div class="container">
        <div class="navbar-brand navbar-header">
            <a href="/#/"><h3>NoteApp</h3></a>
        </div>   
     </div>
     <nav class="container">
        <ul class="nav navbar-nav ">
            <li><a href='' class="active" [routerLink]="['/dashboard']">Dashboard</a></li>
            <li><a href='' class="active" [routerLink]="['/notes']">Notes</a></li>
        </ul>
</nav>
  </header> 
</div>
<main>
  <section>
      <div>      
          <router-outlet></router-outlet>
      </div>
  </section>
</main>

