.panel{
    position: relative;
    bottom: 0;
    width: 285px;
    height: 225px;
    cursor: pointer;
    margin: 0px 0 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: bottom .4s;
}

.panel-heading{
    font-size: 28;
    font-family: cursive;
    background: linear-gradient(#004b8b, rgba(173, 216, 230, 0.41));

}
.panel.panel-default:hover {
    bottom:.4em;
}

h3{
    font-family: cursive;
    margin: 20px 0 20px 0;
    position: relative;  
    width: 150px;
    padding: 4px;
    border-bottom: 2px solid lightgrey;
}
.panel-body{
    font-weight: normal;
    font-size: 15;
    height: 225px;
    background: rgba(173, 216, 230, 0.41);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

div.modal-header{
    background: linear-gradient(#004b8b, rgba(173, 216, 230, 0.41));
    font-family: cursive;
}

.close{
    font-size:200%;
    transition: transform 4s ease-out;
}
.close:hover{
    transform: rotate(360deg);
}